extends layout.pug
block content    
    .container.main
    section.p-3.mb-2.bg-dark.text-white
        if game
            p #{game._guessed.join(" ")}
            p STATUS: #{game._status}
            p ATTEMTPS: #{game._attempts}
        else
            p here goes the new word
    section.main-div
        p Insert a word or a letter:
        form(action="/insert-try" method="post")
            .input-group
                input(class="form-control" type="text" name="letter" placeholder="enter a letter or word")
                .input-group-append
                    button.btn.btn-primary(class="input-group-text" type="submit") Insert Word
        if error
            p.error #{error}