*{
    margin: 0;
}

.site_title{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.main_title{
    padding-left: 30px;
    color: rgb(82, 81, 81);
    font-family: 'Roboto Condensed', sans-serif;
}

.site_logo{
    width: 200px;
    vertical-align: bottom;
}

.section_header{
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgba(54, 54, 54, 0.7);
    font-family: 'Montserrat', sans-serif;
}

.title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.site_footer{
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(54, 54, 54, 0.7);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.calculator_form{
    float: left;
    width: 400px;
    margin-left: 40px;
}

.calculator_results{
    margin-left: 400px;
    width: 250px;
    font-size: 20px;
    padding-top: 10px;
}

.calculator{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(238,238,238);
}

.calculator_basic{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 250px;
    font-family: 'Roboto Condensed', sans-serif;
}

.calc_detail{
    margin: auto;
    width: 234px;
    font-family: 'Roboto Condensed', sans-serif;
}

.tblCalculator{
    border-radius: 60px;
    border-collapse: collapse;
    font-size: 21px;
}

.total{
    height: 60px;
    background-color: rgb(153, 153, 153);
    color: white;
    font-size: 50px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btnsCommon{
    border: solid;
    border-width: thin;
    border-color: rgb(142, 142, 142);
}

.btns{
    width: 55px;
    height: 45px;
    text-align: center;
}

.btnSoftGrey{
    background-color: rgb(224, 224, 224);
}

.btnOrange{
    background-color: rgb(250,146,69);
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.name{
    padding-top: 10px;
    padding-bottom: 10px;
}

.copy-left { 
    display: inline-block; 
    text-align: right; 
    margin: 0px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    filter: FlipH; 
    -ms-filter: “FlipH”; 
}

input{
    background: #f6f6f6;
    border: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 20px;
    width: 110px;
    padding: 10px;
    margin: 10px;
}

button{
    background: #f6f6f6;
    border: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 20px;
    width: 135px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    color: #0791d0;
}

li{
    padding: 5px;
    list-style: none;
}

a{
    color: white;
}