@import url('https://fonts.googleapis.com/css?family=Montserrat');

.backU {
    width:78vw;
    color:white;
    font-size: 5vw;
    margin: 10vw 11vw;
    padding: 2vw;
    background: linear-gradient(70deg, #7b9214, #c7da86);
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.smallBut{
    display:inline;
    color:white;
    font-size: 3vw;
    margin: 2vw 7vw;
    padding: 1vw;
    background: linear-gradient(70deg, #7b9214, #c7da86);
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.smallButN{
    display:inline;
    color:white;
    font-size: 3vw;
    margin: 2vw 15vw;
    padding: 1vw;
    background: linear-gradient(70deg, #7b9214, #c7da86);
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.usU{
   
    padding: 2vw;
    color:#7b9214;
    text-align: center;
    margin: 7vw 12vw;
    font-family: 'Montserrat', sans-serif;
}
.listUsers{
    border-bottom: 1px solid #7b9214;
    margin-right: 7vw;
    font-family: 'Montserrat', sans-serif;
    
}
.text{
    height: 105vw ;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
}
 .data{
     margin-right: 2vw;
     color:#7b9214;
     font-size: 5vw;
 }
li{
    margin: 2vw 5vw;
    list-style:none;
    
}

