@import url('https://fonts.googleapis.com/css?family=Montserrat');

.back {
    width:78vw;
    color:white;
    font-size: 5vw;
    margin: 10vw 12vw;
    padding: 2vw;
    background-color: #0d292d;
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.us{
   
    padding: 2vw;
    color:#0d292d;
    text-align: center;
    margin: 7vw 12vw;
    font-family: 'Montserrat', sans-serif;
}
.listUsers{
    border-bottom: 1px solid #0d292d;
    margin-right: 10vw;
    font-family: 'Montserrat', sans-serif;
    
}
.text{
    height: 120vw ;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
}
 .data{
     margin-right: 2vw;
     color:#0d292d;
     font-size: 5vw;
 }
li{
    margin: 2vw 5vw;
    list-style:none;
    
}
.text{
    overflow: scroll
}