html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body * {
    border: 1px white solid;
    box-sizing: border-box;
}
nav,aside,section{
width: 20%; 
float: left;
height: 100%;
}
section{
 width: 60%;   
}
header, footer {
    height: 20%;
}
main {
    height: 60%;
}