* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.above-bar-container .login {
  color: white;
}

.above-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-header {
  width: 90%;
  display: flex;
}

a .a-round-box-gradiente {
  border: 1px solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background: #50514C;
  border: black;
  background: linear-gradient(rgb(80, 81, 76) 50%, rgb(62, 62, 55) 50%);
}

.above-bar {
  display: flex;
  padding: 0px 15px;
  background: #D2EAF1;
  align-items: center;
  height: 10%;
}

.above-bar-left {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.above-bar-left img {
  margin: 10px;
  background-size: cover;
  cursor: pointer;
}

.above-bar h4 {
  padding-right: 20px;
}

#header {
  background: #65bacf;
  padding: 20px;
}

#main {
  background: #CDD0CF;
  width: 50%;
}

#footer {
  background: #191814;
}