extends layout.pug
block content
    include navbar.pug
    main.container.main
            h4 HANGMAN GAME
                form(action="/try-word" method="POST")
                    input(type="text" placeholder="guess your letter" name="text")
                    button(type="submit") Submit
                p #{guessed}
