@import url('https://fonts.googleapis.com/css?family=Montserrat');

.backS {
    width:78vw;
    color:white;
    font-size: 5vw;
    margin: 10vw 10vw;
    padding: 2vw;
    background: linear-gradient(70deg, #404040, #7a7a7a);
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.usS{
    padding: 2vw;
    color:#404040;
    text-align: center;
    margin: 5vw 12vw;
    font-family: 'Montserrat', sans-serif;
}
.lang{
    padding: 2vw;
   
    margin: 5vw 12vw;
    font-family: 'Montserrat', sans-serif;
}
select{
    margin: 1vw 12vw;
    border:1px solid transparent;
    font-size: 4vw;
    padding: 2vw 3vw;
}
.formSettings{
    height: 110vw ;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
    
}