nav{
    height: 20%;
}
section{
    height: 60%;
    padding-left: 2em;
    padding-right: 2em;
}
aside{
    height: 20%;
}
.linkedin-logo{
    padding-left: 2em;
}
footer .footer-main{
    padding-left: 10px;
}
footer .footer-main div{
    margin-bottom: 10px;
}