.general {
    text-align: center;
  }
  
h1{
    color: black;

}
img{
    width:50%;
    padding:20% 20%;
}
.box1{
    background-color: #92ac19;
    width: 35%;
    margin-top:5%;
    margin-left: 10%;
    margin-right: 3.5%;
    float: left;
}
.box2{
    background-color: #0d292d;
    width: 35%;
    margin-top:5%;
    margin-left: 3.5%;
    margin-right: 10%;
    float: left;
}
.box3{
    background-color: #a2b1ae;
    width: 35%;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 2.5%;
    float: left;
}
.box4{
    background-color: #427854;
    width: 35%;
    margin-top:7%;
    margin-left: 3.5%;
    margin-right: 10%;
    float: left;
}
.box5{
    background-color: #c1bc24;
    width: 35%;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 2.5%;
    float: left;
}
.box6{
    background-color: #404040;
    width: 35%;
    margin-top:7%;
    margin-left: 3.5%;
    margin-right: 10%;
    float: left;
}