.container {
    margin-top: 75px;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.firstSection, .secondSection {
    height: 100%;
    margin: 0%;
    width: 40%;
}

.linkRegister{
    margin-bottom: 30px;
}

button {
    padding: 3%;
    width: 100%;
    height: auto;
    margin: 6% 0%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 80, 134);
    color: white;
}

button:hover {
    background-color: rgb(241, 80, 88);
    cursor: pointer;
}

h2 {
    color: rgb(192, 43, 112);
    font-size: 35px;
    padding: 5% 0% 5%;
}

h3{
    color: rgb(192, 43, 112);
    font-size: 30px;
}

h5{
    color: rgb(192, 43, 112);
}

input {
    display: block;
    width: 100%;
    margin: 5% 0% 5%;
    border-radius: 5px;
    border: none;
    background: #eef2f3;
    padding: 4%;
}

input[text]{
    font-size: 50px;
}

input[type=text]:active, input[type=password]:active, input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 5px rgb(126, 19, 103) !important;
    border: 1px solid rgb(192, 43, 112) !important;
    outline: none;
  }



.profile input[type=text] {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orange;
} 


::-webkit-input-placeholder {
    padding: 5%;
    font-size: 120%;
    color: palevioletred
}

.list {
    list-style: none;
}

.list li:before {
    content: '🍍 ';
}

.list li {
    margin-bottom: 5%;
    font-size: 90%;
}

.big {
    font-size: 300%;
    padding: 0%;
}

.small {
    font-size: 70%;
    color: white;
    padding-top: 4%;
}

.sesion {
    text-decoration: none;
    color: #2dbe60;
}

.inicia {
    font-size: 14px;
}

/*login styles*/

.container2{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:100px;

}

label{
    color: rgb(223, 108, 66);
    font-size:15px;
}

.container h2{
    padding:0;
}

.container2 form {
    width: 50%;
}





/* style="background-image: url(images/meeting.jpg); background-size: 150%; background-repeat: no-repeat;" */
#meetingPic{
    background-image: url(../Profile/meeting.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
}



.cocktailImg{
    width: 100%;
}
