@import '../main.scss';


.return{
    z-index: 2;
    cursor: pointer;
}

.return-disable{
    z-index: 2;
    color: $disabled;
    cursor:not-allowed ;

}

.logo{
    text-align: center;
    width: 100%;
    position: absolute; 
    left: 0;
}


.nav-link{
    display: inline-block;

}

.navbar-logged{
 
    li{
        display: inline-block;

        img{
            width: 30px   
           }
    }
    border-bottom: solid 1px;
}

.one-notification{
    color: $notification;
}

.without-notification{
    color: $disabled;
}



.zi-1{
    z-index: 1;
}

