
.backn {
    background: linear-gradient(70deg, #5a4280, rgb(187, 182, 204));
    width: 100vw;
    color: white;
    font-size: 5vw;
    margin: 4vw 0vw 3vw 0vw;
    padding: 4vw 38vw;
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.butAddN{
    color: white;
    font-size: 5vw;
    background: linear-gradient(70deg, #5a4280, rgb(187, 182, 204));
    height: 10vw;
    width: 20vw;

}
.formularioN{
    margin-bottom: 7vw;
    border: 1px solid #5a4280;
    font-size: 5vw;
    width: 60vw;
    height: 8vw;
  }
 
.usN{
    width: 100vw;
    color: white;
    font-size: 5vw;
    margin: 0vw 16vw 8vw 0vw;
    padding: 4vw 0vw;
    background: linear-gradient(70deg, #5a4280, rgb(187, 182, 204));
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
.listNotes{
    
    margin-right: 10vw;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #5a4280
}
.dataN{
    margin-left: 5vw;
    text-align: left;
    font-size: 5vw;
    
}
.deleteN{
    float: right;
    margin-right: -4vw;
    font-size: 5vw;
   
   
}
.textN{
    height: 113vw ;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
}
 
li{
    margin: 2vw 5vw;
    list-style:none;
    
}
