body, html{
    height: 100%;
}
*{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    color: white;   
    height: 20%;
    border : 1px solid white;
}
main{
    height: 60%;
    
}
nav{
    background-color: black;
    color: white;   
    width: 20%;
    height: 100%;
    float: left;
    border : 1px solid white;
}
aside{
    background-color: black;
    color: white;   
    width: 30%;
    height: 100%;
    float: right;
    border : 1px solid white;
}
section{
    background-color: black;
    color: white;   
    width: 50%;
    height: 100%;
    float: left;
    border : 1px solid white;
}
footer{
    height: 20%;
    background-color: black;
    color: white;
    float: none;
    border : 1px solid white;
}

