nav{
    width: 20%;
    height: 100%;
    float: left;
}
aside{
    width: 30%;
    height: 100%;
    float: right;
}
section{
    width: 50%;
    height: 100%;
    float: left;
}
footer{
    height: 20%;
    float: none;
}

