
@import url("mobile.css") (max-width: 768px);
@import url("desktop.css") (min-width: 768px);

body, html{
    height: 100%;
}
*{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}
main{
    height: 60%;
    
}
header{
    background-color: black;
    color: white;   
    height: 20%;
    border : 1px solid white;
}
nav, aside, section, footer{
    background-color: black;
    color: white;
    border : 1px solid white;
}
