
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
            min-height: 100% !important;
            height: 100%;
            color: white;
            text-align:center;
        }
header {  
    background-color:black; 
    height: 20%; 
    width: 100%; 
    border: 1px solid white;
}
main{
    border: 1px solid white;
    height: 60%;
    background-color: black;
}
nav{
    border: 1px solid white;
    background-color: black;
    height: 20%;
}
aside { 
    border: 1px solid white;
    background-color: black;
    height: 20%;
}   
section {
    border: 1px solid white;
    background-color: black;
    height: 60%;
    width: 100%;
}
footer {
    border: 1px solid white;
    background-color: black;
    height: 20%;
}