:root {
    --bg-alpha-color: rgba(255, 202, 167, 0.6);
    --font-border-color: rgb(255, 135, 88);
  }

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Just Another Hand', cursive;
    font-size: 1em;
    background-color: rgb(255, 242, 230);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header, footer{
    position: sticky;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: 'Yesteryear', cursive;
    align-items: center;
}

a {
    text-decoration: none;
}

header a{
    color:var(--font-border-color);
    float: left;
    padding-right: 20px;
}


header {
    background: linear-gradient(rgb(255, 202, 167)47px, transparent);
    top:0;
}

.logoHeader{
    mix-blend-mode: overlay;
    max-height: 100%;
}

main{
    box-sizing: border-box;
    padding: 20px;
    margin-top: -3px;
    height: calc(100vh - 94px);
    overflow-y: scroll; 
}

footer{ 
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(transparent, rgb(255, 202, 167) 3px);
}

footer p{
    flex-basis: 100%;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: 'Sue Ellen Francisco', cursive;
}
footer a{
    flex-basis: 1f;
    color:var(--font-border-color);
    padding: 0.5em 1em 0 1em;
    line-height: 0.9em;
}

button {
    border-radius: 2em/5em;
    border:0.5px inset rgb(225, 172, 137); 
    outline: 0;
    color: white;
    background-color: rgb(255, 202, 167);
    box-shadow: 0 0 3px salmon;
    font-size: 0.7em;
    padding: 0.2em;
    margin:auto;
}

/*scrollbar*/
::-webkit-scrollbar{

}

::-webkit-scrollbar {
    position: relative;
    background-color: rgb(255, 202, 167); 
    width: 0.3em;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(255, 202, 167), var(--font-border-color), rgb(255, 202, 167));
    border-radius: 10px;
}
