.pf-profile{
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

figure {
    position: relative;
    height: 30vh;
    min-height: 30vh;
    width: 30vh;
    min-width: 30vh;
    border: 2px solid var(--font-border-color);
    font-size: 5vh;
    margin: auto;
}

#load_file{
    display:none;
}

#profile_pic{
    position:absolute;
    width: 100%;
    height:100%;
    background-color:  var(--bg-alpha-color);
}

figure p{
    position: absolute;
    width:100%;
    height:100%;
    font-size: 0.8em;
    padding-top: calc(50% - 0.4em);
    text-align: center;
    color:var(--font-border-color);
}

#profile_pic:hover{
    opacity: 0.2;
}

.info{
    height: 20vh;
    width:70%;
    margin: 0 auto;
    padding: 0 30px;
}

.info input{
    width: 100%;
    margin:0;
    margin-top:1.5em;
    float: center;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    background-color: transparent;
    color: var(--font-border-color);
    border: none;
    border-bottom: 0.3px inset var(--font-border-color);
}

.display-events {
    margin: 1em auto;
    height:50px;
    min-width: 90%;
    background-color: var(--bg-alpha-color);
    overflow-y: scroll;
}
table {
    width: 80%;
    margin: auto;
}
thead, tfoot{
    background-color: white;
    color: var(--bg-alpha-color);
    font-size: 0.7em;
}

td input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    border: 0.2px solid black;  
}

tr {
    height: 2em;
    vertical-align: middle;
}