article {
    position:relative;
    background: linear-gradient(to right, transparent, rgb(255, 202, 167) 2%, rgb(255, 202, 167) 98%, transparent) ;
    top:0;
    margin: -10% 15%;
    padding-top:10vh;
    width: 70%;
    height: 150%;
    text-align: center;
}

figure img{
    width:90%;
    max-width: 300px;
    margin-top: 10vh;
}

input{
    margin-top: 5vh;
}