*{
    padding: 0%;
    margin: 0%;

}
body, html{
    margin: 2%;
}
.mountain, .icon{
    width: 4%;
}

li{
    display: block;
    float: left;
    margin: 3%;
}
li:hover{
    font-weight: bolder;
    cursor: pointer;
}
nav, ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding-left: 3%;
}
h1{
    font-size: 40px;
}
.mountain{
    width: 10%;
}

.container{
    position: relative;
    width: 33%;
    
    display: inline-block;
}
.image {
    display: block;
    width: 100%;
   height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
  }  
  