footer.mastfoot.mt-auto
  .inner
    p.text-muted.text-center
      | Hangman for 
      a(href='https://http://www.skylabcoders.com/es/') SkylabCoders
      | , by
      a(href='https://github.com/MinaZhen') MinaZhen
      | .