

header{
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: 15%;
    margin: 0 10%;
    text-align: center;
}
h1{
    padding-top: 3%
}
main{
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: 80%;
    margin: 0 10%;
    text-align: center;
    
}
article{
    float: left;
    width: 29%;
    max-height: 50%;
    margin: 1% 1%;
    border: 1px solid white;
    padding: 2% 1%
}


a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: 5%;
    margin: 0 10%;
    text-align: center;
}