
aside{
    float: left;
    width: 50%;
    height: 100%;
    
  
}
section{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.466);
}

form {
    padding-top: 15%;
    
}
.formulario{
    width: 40%;
    font-size: 20px;
    
}
.buton{
    background-color: rgb(52, 88, 112);
    border: 30% color rgb(52, 88, 112) ;
    color: white;
    width: 15%;
    height: 7%;
    
}
p{
    color: rgb(72, 113, 141); 
    padding: 2% 4%;
}

