$pink: #fd9ff1;
$blue_clear: #78c7c8;
$banana: #e8d76b;
$gray_input:#ced4da;
$disabled:lightgray;
$notification:#fa6c7a;
$gray_link:gray;
$comfirm:#6f42c1;
$comfirm_hover:#6f42c1;
$cancel:#dc3568;
$cancel_hover:#ac2f68;
$gray_link_hover:gray;
$black:black;

.btn:hover{
    
   background: white;
   color:$black;
   font-weight: 900
    
}

.btn-outline-secondary{
    margin-top: 10px;
    right: 15px;
    background: #ffffff7a;
    padding: 1px 20px 1px 20px;


    i{
        margin-right: 10px;
    }
}

.jumbotron{
    background: none !important
}

body{
    background: url(https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/8/81/Tumblr_m2h8ybO3LF1rsxgl4o1_1280.jpg/revision/latest?cb=20170514082953);
    background-repeat: no-repeat;
    background-size: 100% 500%;
}

