.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    /* background-color: rgba(129, 61, 61, 0.85); */
    background: linear-gradient(to left, rgb(121, 27, 105), rgb(34, 8, 44));
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    height: 45px;
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
