* {
    color: blue;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: #c5b28e;
    width: 90%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 13%;
}

h1 {
    border-radius: 0 0 30px 0;
    -moz-border-radius: 0 0 30px 0;
    -webkit-border-radius: 0 0 30px 0;
    border: 1px medium rgba(55, 52, 97, 1);
    background-color: rgb(68, 22, 2);
    color: white;
    -webkit-box-shadow: 10px 10px 30px -3px rgba(55, 52, 97, 1);
    -moz-box-shadow: 10px 10px 30px -3px rgba(55, 52, 97, 1);
    box-shadow: 10px 10px 30px -3px rgba(55, 52, 97, 1);
    padding: 25px;
}

.wrapper {
    height: 77%;
    background-color: white;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    padding: 2%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-style: oblique;
    font-weight: bold;
}

.links a, .links a:visited, .links a:link {
    text-decoration: none;
    color: blue;
}

.links a:active, .links a:hover {
    text-decoration: none;
    color: green;
    font-size: 35px;
    font-weight: 100;
}

main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    text-align: justify;
}

section {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

section p {
    padding: 10px;
    text-transform: initial;
}

aside {
    display: grid;
    justify-content: right;
}

aside span {
    align-content: center;
    padding: 5%;
}

#image {
    width: 100%;
    background-position: center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdAAAABsCAMAAADt/BOIAAAAh1BMVEX///8AAAD39/d7e3vq6urX19f8/Pzx8fGdnZ319fXi4uLm5uZ1dXXv7+9+fn7n5+fQ0NCIiIjIyMgnJyePj49ISEhVVVXFxcUwMDA4ODinp6e4uLjc3NwWFhZmZmZtbW2zs7MeHh5AQEBLS0uVlZUkJCRJSUldXV2hoaE0NDQLCwtSUlISEhL/lrNrAAAN1klEQVR4nO2daYOiOBCGKW4BkVPkEAFx8Pr/v2+T4AEBbLCdtp3N82HWRo6YN6lUVRKW4xgMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBuMOLzriu8vAeB2eH8J69u5SMF6CLnGcInIxpLwYlfK7i8P4LtqKdM0MID/mELy7OIzvogAZPXltv7cU33h3cRjfQ0qXEN//FG3+fWVhfJ+yymG7eHcpGC+D5yTm3DIYDAaDwWD0wWe28+4yMF5HsgKAquv7yo4nCNIbCsT4FnoOGJ9O6s59gJ3NpmQ+jgpqbOq4CUXMskjPMZ+/79kOXNHuB1FvnYHNJmKeIwlh8766q26CCo2jilu4rHs+yXmjv09P7aYn5MrlmFOtXIDlo8tY5x2Cz4r0nc+P7oJep0bxocoDOA07RDLLBw9gYP9Se2N7TxuC1lOjFkCG/xs9GENl5vz2Y+coolffOJulrBqChlhBHkZYDFn/6yX7SBZ0qPDjNIbQi5/rRCMuk5O/XTDGcwQtQa2xl8ksgfRLKVuCqmMvk0dLz/gLOCkOSByzx8kxWoKOXjDG/5+T+dYme3MJNANLKaU9glYtQR+Gnk34//PiTz5Yxd2js/kPJWJ4nZvXvpfHdRICfNgStBhbJr7nF/2P0I621KpKS/iz2oVLVRu85HXsw1mywR8WKbenPdh53hJ0Nza85LOXlvHTUM0SGlUZFPf0qTJ8VT+TvZG5w1kFbk1ByNm01yNCm7Et7H8uKKpO/jaBPGvmZiCfKtDkPKG+5wKyLSkCLqKHPp0SdGx4yY8JVv9xLiZXdKk6nDga5VOfq5ncHrAhKIFT99SXElWYsc2Lp2/0/4WuQpi2W8iCqQFDnHIm4PnWJcjqhvoyoMoy9ub86Ij1w5ieo+4KOtrOYTKYauzKJbchu5Nc0NSC+jJ+0lzw5cRSfArTh5IeQfPxky1alaUT06iGj4JNnKk7g1XSj4qoooz9Pbw3rRAfw3TL0yNoa6nAY6w9F020udWKr7ebIeNe0m7snirJ2I7Hv31W4S9RTs4O9AkKkiIm8ZixFAs6zS/mi/XCh4zDgsYl7fWUVEHGdrx/VlBv8rxgr6CYcMysqIpMbrsuvzLXynqdhKBmsQKQefQgSQs6VqfZv7pN2Jwc5w8Kao65ugyhaJ8of7FgcA5ry4WtbW/QCGnTitnPFALfdcK4/1EYk5PUg4KO8nUkL9u3x1DlC8dUhKNzhm0Ros6omlC1v6UFHTuaBzA8ISpZlvWxS47SyUnqIUFXndFY4bt5wcDkzPYj9S9KYKGhE2Ajikg7TwC//a1JlWKsJbVhILOw0LQDDKUQZQnzaxc7zLLAOpXJxFB0SNBuVw+WXRcl9oIoax3Rss5JLbJaUMNH2tlGvWzozrOC/qG7+pVlfR+/r5kFG/IdHQv/Gi7LcY7FpDhiQNBdz6lVdzYrc6okax2Jv4icVDR0Xh9ipvR8ypOC8ih47m3I/Olyo75SqfVX4Ru3CTxEuxZ+NcVBGOqhPd5Vjz3PDM5sB//7drZevJdFJh4wsrS37PHBhWPbGNKC0qnBAYL+Ajcmb7qCyldBx6+L+GmyHMfluTnJ6A4J2q0BZZ11jkWWGbcF9cLWn9Zt3I25gOeCjmRtZ0Z4SlARr3OoejraI0E5xfvtgm5czn6Zl+t3zoxh2en6UbTPWnU1r3KleVZw7YGzlFMdrqDWmLxGUGFIl4eCbq7f/VpBRYgnpm24YUHzToN3elY8myXXnjEJ3HXWFDS7CmYBd4oUkArqOVnrfs8JWvf6nhDnoaC3Z/1aQTkDlMHUnyz3j6yDcWinaWhQdvJAqnSymnXFl3A0mikm7zruRqCAEUO2ox5TtG75EkGD21j/6YImkA1/OWCMBwXt3MqAYycbKNiKfU32kGUlqAPuortGGlw3AabggetBdXzYcGhBx9U1Jah2u+WnC8odDsPfDeS5x6f+9GM3eFcjT73cOFDwaxivGvEBUdW8Noy5Czvs33b0bNvxlwjq3OK2jxdUfZCwg/71X4OCdtbEzo/07GSWFv7RL1JSWw1B8bhJzN4MiVhH/OHQYwC0xrzOc3EoJej9fh8vaNLNgF1lnN20buc1BwXtJFDEznRz1qwtdY4fchOUzGSSFAI2gNrAQzBhI81ICzoul9sSVOaEW6f/eEE52NJHLiLwBaxmrSMXBgXtJHPFbmsxyt0KVFJ/ciUhx4vkDHJd5sQUj7c3QemlJRS36qYFHTfb0hLU4gCuk4ifL2hFG1bZqHXJ7j9q01JqUNBOLk3s1oqwz+R4T2p9AZGsemR35660+djFNnd/FXQz9JSa9dWNeoGgEUdmisQF9y8Iqt6dRp18mq1qzxTH83WuQHGJ5snlxEFBj/QMxaJbKyHqnEpF7hvD0rpfHAhksQFJrnk2Jz8YQuvzLzekp8/GTXC3BPVEImiCR5i/KOir9i/ONMlyAoJjJTqxohvId+7BxZ/je8kt4pZkdZ2QJHVIzlbrU5xLsDYoaMe/0jsrfORSS1ObV1FfliNYZvdrow2ppssCBOsLi3uv0xcI6pdkECe/728ImpD+4MD339PhnA49VXEM08sudpza0W/TSGjQRPXMu/WA4qzxGbgfiOgTEnaW1x31K0Hl2z89guqCrUrCXkX1Nxfg1NgKaJygQE/xBm9OcxkGaEE99GwjwPoge7Ef2szdEJSvf48ql7gtjBY0+DL/fXvn1ZIUwpi02LWfDB6yw9UuwzUSlepFrUtAwiXHertDigyyXJA5SOe6iPmRoPLp0kMynAjUW0u2YlTDlrFxuEW6RHfSK/D9+7VFAfnGtP3Bm9Nk9V3pFuBhxyrfeh4Ung1r6F/n1BBUqltVKqeVLI8X9OttWtiJ5yQddRFSJ+PXgA/jwEMyfI58nZwX0Ki1TyTpD+xi615NhhUc4CBJCWodB2JqhgXVOL24CgqWjEKPhqAizsoFDme4FZeglqOH4Dbed+HuelIIjwhtE9FpAR61VPeRoOTnXH7qTi9WjtgWNKZ6YUNQiY4OOuZUJzPEqYU+EEftFYI+iuWu8bu8rh+kj6pOSxRFevPBjbOOXZmZrGs8Kj6SVyMjGs4Je2Vsgh9F6T7MTHOn2nb25Sj5HPlq1Uz+DuwXjfEU65E4BfnlOucIZdAWdFNnIXkr1mhBA+pVkaqW7YNWTjIhdu0Uow9YUHHyHqAmyt6ojP38UbYFztJC18gPIt2IXg75BK4io/4S4chSPcNRrwUVCr9IkDlFR5cFnMBDdhxW4A62i5fSSBMqDX8pTnlQfewT3IYl3AzKtqBL8BczvcTeBHkZwE1QQSko94tEWc0uKPr4DN4VOIuYdmvC+x+6XIIzh/YYOsxnyhlOvDKT1t+vvJCT/9z/OmNBUdvEZrXv5i944AhqQclrwyy8JZEnVtQKOQW02Ofbr61CTbslKDbn+eVPpyUoGcxkHhvaiIQjxN6QZ2UOXmkhk/aKnrJFnRnZwgSdED2xukzm5mgg8y7dLWzEef2sVqv6X3qO6hm27ZdASbWgr7jz85xQNMzp24PISWf8pjgBD6p6PkNVnXBlSiUw7LagUsPCWS1BsR+xlmwrShb+svQ8gZxZ2Z7nrVUxs7I97vlnVAMrPsOCZsj1Ksvp73Ww+EyQr9bTTdvt72+zaQ/acS0ovZv0h4njNU5W5KRtbzI8narkC44Iyglmu4bMtqCzu8d13BiGfYuyhLtjuO402HujXqOgKkReFxpubaS4Z04VNNFsp1wZkgl5inwct9h+lW95KWpbUAe3zcW7Bd2d6/8Sn4981kPc2xTi3KdRq4duGoLiNHS7+nY3QU0VRqEZyEQIeBrqhGTO0myanvp++Sfsm0D8IVDI2kxk2ERK4b0mtwcXD4fyHLabjWLlefOr6jr7gz+jmKj1JazuJvdL56QmiMEUI7AXInh+pYTj927OHHX59przT6fzu8swgnV1OhU5qS16udL6tH1w4flmbM4jf+dxDcfjGRmGI6xz1HbWrrsKt5VhR3EgDW/7kyK6YIxPYFf1rdBLvJ/x/xl/h/aaaDl6s8vB+D7ZfeB8QXaH8XZuqzq+mEth/HLWbrg0M+fqG/E/mjN4O8czchN3yElcHQ5hWNT4hY/5s23yhxy7nFGE4eGwWrnuLs/X57cFdDRV5FgatfTnizU3H8XxnCN3vvC3p2WVGoJpl2qUxXFgYfAG20TTdFGcKzOeH1jO/wBZ5vmZMhdFXde0JJEkclsniLMoUkvbFIxNWi1PW78IV27+I4FXpHfeZDr/iee+nuN6d/BPVZoapu2pKBpDeiWavhDnM/7t7zyQ+dlcxKIjzR0kd+nZAtZ6Wxzc/NW9O0zV1v95mn/x/f8O+ao4pRskHtLOsS7KvV24yWChFzoS2okjtVZ5G7rfDxcPZmPhmPUbw8/1yq82gon7nkXUG94K9eHI2Igjka1aYiPdhk9l6qq7pEqZv1iOZ9gVyw0a8/ZZkJAx7vO634uQ8Tg912uBzfR0GNvhGvld2bJ/dDalZh2eNpc+qPD8/1fBL8CemCgFeCQWKv9R/qed/pvF3viFcs/iFpVAXBhJnO5kMjCyrGhkBBaWIdV3e5YxJNmrVT0eThvkyWSBpf2ro+A7kUUL9V3VFswyG3zDlYzMt7DNn1QwP2xTE0d/gaQzCX8VswTHUJ6QnnD4tD6fjwjU5zDn8zrfrUJ/i+J33AGRfo5EpywYvx2cKmHuC4PBYDAYDAaDwWAwGAzGv8l/y9vln3WYvzsAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
}

footer span {
    width: 100%;
    padding: 2% 2% 2% 2%;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0 0 36px 9px rgba(55, 52, 97, 1);
    -moz-box-shadow: 0 0 36px 9px rgba(55, 52, 97, 1);
    box-shadow: 0 0 36px 9px rgba(55, 52, 97, 1);
    color: white;
    text-align: right;
}

body {
    background: rgba(82, 82, 82, 1);
    background: -moz-linear-gradient(left, rgba(82, 82, 82, 1) 0%, rgba(46, 46, 46, 1) 1%, rgba(97, 97, 97, 1) 12%, rgba(110, 110, 110, 1) 25%, rgba(77, 77, 77, 1) 39%, rgba(46, 46, 46, 1) 76%, rgba(31, 31, 31, 1) 91%, rgba(20, 20, 20, 1) 96%, rgba(20, 20, 20, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82, 82, 82, 1)), color-stop(1%, rgba(46, 46, 46, 1)), color-stop(12%, rgba(97, 97, 97, 1)), color-stop(25%, rgba(110, 110, 110, 1)), color-stop(39%, rgba(77, 77, 77, 1)), color-stop(76%, rgba(46, 46, 46, 1)), color-stop(91%, rgba(31, 31, 31, 1)), color-stop(96%, rgba(20, 20, 20, 1)), color-stop(100%, rgba(20, 20, 20, 1)));
    background: -webkit-linear-gradient(left, rgba(82, 82, 82, 1) 0%, rgba(46, 46, 46, 1) 1%, rgba(97, 97, 97, 1) 12%, rgba(110, 110, 110, 1) 25%, rgba(77, 77, 77, 1) 39%, rgba(46, 46, 46, 1) 76%, rgba(31, 31, 31, 1) 91%, rgba(20, 20, 20, 1) 96%, rgba(20, 20, 20, 1) 100%);
    background: -o-linear-gradient(left, rgba(82, 82, 82, 1) 0%, rgba(46, 46, 46, 1) 1%, rgba(97, 97, 97, 1) 12%, rgba(110, 110, 110, 1) 25%, rgba(77, 77, 77, 1) 39%, rgba(46, 46, 46, 1) 76%, rgba(31, 31, 31, 1) 91%, rgba(20, 20, 20, 1) 96%, rgba(20, 20, 20, 1) 100%);
    background: -ms-linear-gradient(left, rgba(82, 82, 82, 1) 0%, rgba(46, 46, 46, 1) 1%, rgba(97, 97, 97, 1) 12%, rgba(110, 110, 110, 1) 25%, rgba(77, 77, 77, 1) 39%, rgba(46, 46, 46, 1) 76%, rgba(31, 31, 31, 1) 91%, rgba(20, 20, 20, 1) 96%, rgba(20, 20, 20, 1) 100%);
    background: linear-gradient(to right, rgba(82, 82, 82, 1) 0%, rgba(46, 46, 46, 1) 1%, rgba(97, 97, 97, 1) 12%, rgba(110, 110, 110, 1) 25%, rgba(77, 77, 77, 1) 39%, rgba(46, 46, 46, 1) 76%, rgba(31, 31, 31, 1) 91%, rgba(20, 20, 20, 1) 96%, rgba(20, 20, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#141414', GradientType=1);
}