*{
    padding: 0;
    margin: 0 !important;
}
html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-size: 1.6rem;
    margin: 0 !important;
}

header {
    height: 35%;
    background-color: lightseagreen;
    width: 100%;
}

main {
    height: 25%;
    background-color:lightgrey;
    width: 100%;
}

footer{
    height: 40%;
    background-color:black;
    width: 100%;
}

.header-top{
    height: 25%;
    background-color: lightcoral;
}

.header-main {
    height: 75%;
    background-color: lawngreen;
    display:flex;
}

.image-main{
    float: left;

}

.text-main {
    float: right;
    background-color: indigo;
}