body{
    font-family: 'Roboto Condensed', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    min-width: 20%;
}

.centered{
    text-align: center;
}

.inputs{
    width: 100%;
}