body{
    font-family: 'Roboto Condensed', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
}

.inputs{
    width: 100%;
}