.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    /* background-color: rgba(129, 61, 61, 0.85); */
    background: linear-gradient(to left, rgb(121, 27, 105), rgb(34, 8, 44));
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    height: 45px;
    color: rgb(201, 197, 197) !important;
    transition: ease-in-out color .15s;
    font-size: 17px;
}

.site-header a:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px#e29c9c;    
}
