extends layout.pug
block content
    include navbar.pug
    main.container.main.mt-4.mb-2
        .row.justify-content-center.text-center
            .col-xs-10.col-sm-10.col-md-10.col-lg-11
                h2.font-weight-bold.text-center Hangman
                    span.text-info Game
        .row.justify-content-center.text-center.mt-5
            .col-xs-10.col-sm-10.col-md-10.col-lg-11
                h3.secretWord Secret word
                h2.mt-5.mb-3 #{guessed}
        if status === 0              
            .row.mx-auto.justify-content-center.mt-3
                form.form-inline.my-2.my-lg-0(action="/check" method="post")
                    input.form-control.mr-sm-2(type="text" name="text" autofocus placeholder="Enter a letter or Word")
                    button.btn.btn-outline-info.my-2.my-sm-0(type="submit") Try
            .row.justify-content-center
                h4.text-center.mt-5.font-italic.font-weight-bold
                    | Remaining attempts: 
                    span.attempts.text-info #{attempts}
        .row.justify-content-center.mt-4
            if error
                h5(class="error") #{error}
        .row.justify-content-center.mt-2
            if !matchLetter && initGame 
                h4.error Fail
            if matchLetter && initGame 
                h4.success Great
        if status === 2 
            .row.justify-content-center
                h1.lose GAME 
                    span.text-danger OVER 💀
            .row.justify-content-center.mt-3
                a(href="/")
                    button.btn.btn-info.my-2.my-sm-0 Play Again
        if status === 1 
            .card.mt-4.mb-1
                .card-body.bg-secondary.text-white.text-center
                    ul.list-group.text-dark.bg-secondary
                        li.list-group-item
                            h2.win.mt-1 WELLDONE!! 🎉
            .row.justify-content-center.mt-4
                a(href="/")
                    button.btn.btn-info.my-2.my-sm-0 Play Again