html, body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

#imagen {
    border-radius: 30%;
    height: 60%;
    width: 60%;
}

.container {
    flex-direction: column;
    height: 100vh;
    flex: 4;
    display: flex;
}

.container header {
    flex: 1;
    background-color: darkslategrey;
    color: white;
    text-align: center;
}

.container main {
    flex: 4;
}

.container footer {
    flex: 1;
}

body {
    display: flex;
}

aside {
    height: 100vh;
    flex: 1;
    background-color: darkgrey;
    color: white;
    border-right: white solid 3px;
}

.personal-information h3 {
    text-align: center;
}

.list-languages {
    list-style-type: none;
    transform: translateX(-40px);
    line-height: 2em;
}

figure {
    text-align: center;
}

.name-line {
    border-bottom: white solid 1px;
}

td{
    line-height: 2em;
}

a{
    text-decoration: none;
    color: white;
    
}
td {
    padding-right: 10px;
}

tr :nth-child(2) {
    color: darkslategrey;
}

h3 {
    text-transform: uppercase;
}