.background-profile {
    background-size: cover;
    background-image: url(/static/media/profile.2197213b.jpg);
    background-color: #1a323c;
    height: 89vw;
    width: 100%;
    max-height: 760px;
}