* {
    box-sizing: border-box;
    margin: 0;
 }
 html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 40px;
    background-color: white;
}
header{
  width:100%;
  height: 20%;
  border-bottom: 2px solid black;
  text-align: center;
}
a {
    text-decoration: none;
    color: rgb(4, 106, 146);
}
#job{
    width: 80%;
    height:100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center; 
}

figure {
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
img {
    padding-bottom: 5%;
    width: 45%;
    height: 100%;

}
.wordSections {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
}
main {
  width:100%;
  height: 60%;
}
#name {
    margin: 1% 0 1% 0;
    text-align: center;
}
.col-left {
    width: 16%;
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin: 1% 0 1% 1%; 
}
.col-right {
    width: 70%;
    float: left;
    font-size: 20px;
    margin: 1% 0 1% 0;
}
section {
    width: 100%;
    float: left;
    margin: 1.3% 0 1.3% 0;
}
li {
    margin-bottom: 2%;
}
footer {
    margin: 0 0 1% 0;
    width: 100%;
    float: left;
}
