doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Hangman App
        link(rel="stylesheet" href="vendor/bootstrap/4.1.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="styles/main.css")
    body
        include navbar.pug
        block content
        script(src="vendor/jquery/3.3.1/jquery-3.3.1.min.js")
        script(src="vendor/popper/1.14.3/popper.min.js")
        script(src="vendor/bootstrap/4.1.0/js/bootstrap.min.js")