body, html{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    border:0;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0px;
    padding-top:10px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("../images/main_logo.png"),  rgb(69, 188, 210);
    background-position: 10% 80%;
    background-repeat: no-repeat;
}

header > :nth-child(1n+2) {   
    margin-top:5px;
}

header button{
    float:right;
    height: 40px;
    padding: 10px 30px;
    margin-right:1%;
    border-radius: 7px;
    border: 0.5px solid transparent;
    box-shadow: 0px 0px 1px black;
    color: white;
    text-shadow: 1px 1px black;
    font-size:12px;
    background: linear-gradient(rgb(88, 85, 85) 50%, rgb(68, 65, 65) 50%);
}
nav{
    display: flex;
    margin-right:7%;
    border-radius: 7px;
    background-color: lightcyan;
    width:57%;
    height: 40px;
    float:right;
    justify-content: space-around;
}


nav a{
    width:100%;
    border-right: 1px solid white;
    border-left: 1px solid lightgray;
    text-align: center;
    padding-top: 15px;
}
nav a:first-child{
    border-left: none;
}
nav div{
    border-left: 1px solid lightgray;
    border-right: none;
}
nav > div img {
    position: relative;
    margin-top:-27px;
    margin-right: 35px;
    float: right;
}

nav > div input{
    box-sizing: border-box;
    border-radius: 5px;
    border: 0.5px inset lightgray;
    padding-left: 10px;
    margin: 10px 25px;
    height: 22px;
    width: 200px;
}

nav > div input::placeholder{
    color: lightgray;
}
nav a{
    text-decoration: none;
    color: rgb(88, 85, 85);
}
header > a{
    position: absolute;
    left:87%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}



section{ 
    background-image: url("../images/easy-email-newsletters-banner-png8.png");
    background-repeat: no-repeat;
    background-position-x: 100px;
    position: absolute;
    left:0;
    top: 80px;
    width: 100%;
    height:457px;
    background-color: rgb(69, 188, 210);
    border-bottom: 1px inset white;
}

section *{
    margin-left:50%;
    margin-right: 10%;
    font-size:13px;
    color: darkslategray;
}
section img{
    padding-top:30px;
    padding-bottom: 20px;
}

section button{
    height: 55px;
    margin-top: 13px;
    padding: 10px 60px;
    border-radius: 7px;
    border: 0.5px solid transparent;
    box-shadow: 0px 0px 1px black;
    color: white;
    text-shadow: 1px 1px black;
    font-size:16px;
    background: linear-gradient(rgb(218, 104, 86) 50%, rgb(201, 81, 60) 50%);
}
main{
    box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    left:0;
    margin: auto 5%;
    padding-top: 60px;
    top: 490px;
    width: 90%;
    height:600px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
h1 {
    position: absolute;
    z-index: 3;
    top: 490px;
    padding-left:7%;
}
article {
    flex-basis: 210px;
    font-size: 13px;
}

h5 {
    margin-bottom:0;
}

h3 {
    margin-top:1px;
}

article button{
    position: absolute;
    background-color: rgb(44, 42, 41);
    top: 420px;
    width: 210px;
    height: 2em;
    border-radius: 5px;
    border:none;
    color: white;
    background:  url("../images/arrows.png"), rgb(31, 29, 28);
    background-repeat: no-repeat;
    background-position: 190px 0.5em;
}

footer{ 
    box-sizing: border-box;
    position: absolute; 
    top: 1000px; 
    margin-top:10px;
    padding: 0 5%;
    width:100%;
    background-color: rgb(22, 21, 21);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: gray;
}
footer ul {
    flex-basis: 20%;
    list-style: none;
}
bold{
    font-weight: bolder;
    line-height: 3em;
    color:white;
}
li a{
    text-decoration: none;
    color:gray;
    line-height: 1.5em;
    
}
footer p {
    flex-basis:100%;
    text-align: center;
}







