@import "mobile.css" screen and (max-width: 768px);
@import "desktop.css" screen and (min-width: 768px);

html, body{
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;
    background-color: black;
}

body * {
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
}

header, footer{
    height: 20%;
}

main {
    height: 60%;
}

