
html, body {
    height: 100%;
    width: 100%;
}
/* [class*="col"] {
    width: 100%;
} */
header {
    background-color: aquamarine;
    height: 20%;
}

main {
    height: 60%;
}
nav, aside {
    background-color: greenyellow;
    height: 100%;
    width: 20%;
    display: block;
    float:left;
}
section {
    background-color: pink;
    height: 100%;
    width: 60%;
    display: block;
    float:left;

}

footer {
    background-color: goldenrod;
    height: 20%;

}