
html, body {
    height: 100%;
    width: 100%;
}
/* [class*="col"] {
    width: 100%;
} */
header {
    background-color: aquamarine;
    height: 20%;
}

main {
    height: 100%;
}
nav, aside {
    background-color: greenyellow;
    height: 20%;
    align-content: center;


}
section {
    background-color: pink;
    height: 60%;
    align-content: center;

}

footer {
    background-color: goldenrod;
    height: 20%;

}