@import "mobile.css" screen and (max-width: 768px);
@import "desktop.css" screen and (min-width: 768px);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 html, body {
    min-height: 100% !important;
    height: 100%;
    background-color: black;
    color:white;
    text-align:center;
}
header, footer{
  height: 20%;
  border: 1px solid white;
}
main {
  height: 60%;
  border: 1px solid white;
}