nav{
    width: 20%;
    float: left;
    height: 100%;
    display:inline-block;
    }
    
    section{
        width: 60%;
        display:inline-block;
        height: 100%;
    } 
    aside{
        width: 20%;
        float: right;
        display:inline-block;
        height: 100%;
    }