header {
  display: flex;
  background: #3ea7bc;
  padding: 20px;
}


.header-link {
  font-size: 20px;
  padding: 6px;
  color: white;
}

main {
  display: flex;
  background: #2d1818;
  flex-basis: 80%;
}

.rightScreen {
  width: 50%;
}

h1 {
  transform: rotate(-20deg);
  font-size: 60px;
  padding-left: 80px;
}

.leftScreen {
  width: 50%;
}

#introduce {
  padding-top: 40px
}