@import url('https://fonts.googleapis.com/css?family=Montserrat');

.backAp {
    width:78vw;
    color:white;
    font-size: 5vw;
    margin: 10vw 10vw;
    padding: 2vw;
    background: linear-gradient(70deg, #105380, #829bac);
    border:0;
    font-family: 'Montserrat', sans-serif;
}
.ap{
   
    padding: 2vw;
    color:#105380;
    text-align: center;
    margin: 7vw 12vw;
    font-family: 'Montserrat', sans-serif;
}
.listApartment2{
    
    margin-right: 10vw;
    font-family: 'Montserrat', sans-serif;
    
}
.textA{
    height: 110vw ;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
    
}
 .info{
     margin-top: 3vw;
     margin-bottom: 1vw;
     color:#105380;
     font-size: 5vw;
     display: block;
 }
li{
    margin: 2vw 5vw;
    list-style:none;
    
}

.smallButA{
    display: inline;
    color:white;
    font-size: 3vw;
    margin: 3vw 12vw 3vw 5vw;
    padding: 1vw;
    background: linear-gradient(70deg, #105380, #829bac);
    border:0;
    font-family: 'Montserrat', sans-serif;

}

