body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}
header, footer {
    background-color: aqua;
    height: 15%;
    width:100%;
}

main {
    height: 70%;
}
aside {
    float:left;
    height: 100%;
    width: 20%;
    background-color: tomato;
}
section {
    float:right;
    height: 100%;
    width: 80%;
    background-color: thistle;
}


footer {
    position: absolute;
    bottom: 0;
}

