@import '../main.scss';


.popover-header{
    cursor: pointer;
}

.alert-info {
    
    .btn{
       margin: 5px;
       border: none 
    }
    .btn-primary{
        color:$comfirm_hover;
        background:none;
        :hover{
            color:$comfirm_hover
        }
    }    
    .btn-danger{
        color:$cancel;
        background:none;
        :hover{
            color:$cancel_hover
        }
    }
    margin: 0;
    color: #0c5460;
    border-color: white;
    border-radius: 0;
    text-align: center;
    
}