.header {
    display: grid;
    grid-template-areas: "h h" "f s";
}

.header-header {
    /* border: 1px solid black; */
    height: 50px;
    grid-area: h;
    font-size: 45%;
    margin-top: 4%;
}

.header-header img {
    float: left;
    width: 18%;
    margin-right: 3%;
}

.header-header a {
    color: black;
    border-radius: 5px;
    padding: 1.8% 2% 1.8% 2%;
    font-weight: bold;
    color: #393A35;
    text-shadow: -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5);
}

#sign-up {
    background: linear-gradient(0deg, #3F3F37 50%, #50514B 51%);
    text-shadow: 2px 2px 5px #3F3F37;
    color: white;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
    font-weight: normal;
}

.right-nav-bar {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    height: 6.5vh;
    justify-content: space-evenly;
    align-items: center;
}

.top-borders{
    border-right:1px solid rgba(148, 147, 147, 0.486);
    height: 100%;
    margin-left: 4%;
}

.right-nav-bar input {
    box-sizing: border-box;
    max-height: 20px;
    border-radius: 6px;
    padding-left: 5px;
}


.header-images {
    /* border: 1px solid black; */
    height: 380px;
    width: 400px;
    color: #007084;
    font-size: 50%;
}

#title-image {
    padding-top: 10%;
}

.header-images p {
    margin-bottom: 8%;
}

.header-images a {
    background: linear-gradient(0deg, #E95C41 50%, #EC6C53 51%);
    color: white;
    border-radius: 5px;
    padding: 4% 14% 4% 14%;
    text-shadow: 2px 2px 5px #A83020;
}

.header-first {
    grid-area: f;
}

#monkey-image {
    height: 96%;
}

#title-image {
    width: 100%;
}

.header-second {
    grid-area: s;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    justify-content: center;
}

.menu {
    display: grid;
    align-content: flex-end;
    padding: 0;
    min-height: 400px;
}

.content {
    display: grid;
    grid-template-areas: "h h h h" "f s t fo";
    z-index: 1;
    justify-content: space-evenly;
}

.content-header {
    grid-area: h;
    color: #3E3D38;
    font-weight: bold;
    height: 10%;
}

.content-images {
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 350px;
    width: 170px;
    font-size: 42%;
    color: #393A35;
}

.content-images> :nth-child(2) {
    font-weight: bold;
}

.content-images> :nth-child(3) {
    line-height: 0;
    padding-bottom: 0.6em;
}

.content-images> :nth-child(4) {
    color: #8F8F8F;
    line-height: 1.5em;
}

#images {
    width: 100%;
}

.content-first {
    grid-area: f;
}

.content-second {
    grid-area: s;
}

.content-third {
    grid-area: t;
}

.content-fourth {
    grid-area: fo;
}

.footer-box {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-evenly;
    /* border: 1px solid white; */
}

.footer-images {
    /* border: 1px solid white; */
    height: 250px;
    width: 150px;
    font-size: 40%;
    line-height: 0.8em;
    text-align: left;
}