*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 8vh;
    font-weight: 600;
    margin: 0% 0% 2% 0%;
}

.header-images{
    padding: 3%;
    font-size: 14px;
}

.container {
    /* border: 5px solid gray; */
}

.grid-item {
    display: flex;
    /* border: solid 1px black; */
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vh;
    
}

.header {
    background: #46BDD5;
    height: 450px;
}

.menu {
    background: #CBCFCE;
}

.content {
    background: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    color:black;
    height: 430px;
    width: 800px;
    box-shadow: 0px 0px 7px grey;
}

footer {
    background: #191814;
    height: 600px;
    color: #878682;
    font-size: 40%;
    text-align: center;
}

a{
    color: #878682;
    text-decoration: none;
    font-weight: 100; 
}