
/* .item {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350×150&w=350&h=150');
    background-position: center;
    background-repeat: non-repeat;
    background-size: cover;
  } */

