* {
    box-sizing: border-box;
    margin: 0;
 }
 html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background: url(../images/comida.jpg) no-repeat fixed center;
    background-size: cover;
    background-color: #414141;
}
header {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 140%;
    background-color: #414141;
    font-family: 'Emblema One';font-size: 22px;
    letter-spacing: 3px;
    border: 2px solid white;
}
.content {
    display: grid;
    height: 100%;
    /*grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));*/
    grid-template-columns: 37% 63%;
    grid-template-rows: 7% 30% 22% 6% 15% 10%;
    color:white;
    font-weight: bold;
    text-align: center;
}
.content > .p-intro {
    grid-row: 3;
    font-size: 190%;
}
.text {
    width: 60%;
    font-size: 60%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
.content > .p-regist {
    grid-row: 4;
    font-size: 130%;
}
.content-right {
    grid-column: 2 ;
    grid-row: 1/6;
}
.buttons {
    background-color: #22C122;
    width:30%;
    height: 80%;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 55%;
    text-decoration: none;
    margin-top: auto;
    cursor: pointer;
}
.buttons:hover {
    background-color: rgb(14, 92, 14);
}
span {
    color: #22C122;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6% 15% 18% 6% 20% 24%;
        font-size: 80%;
    }
    .buttons {
        font-size: 55%;
        width: 25%;
        height: 30px;
    }
    header {
        font-size: 115%;
    }
    .text {
        width: 50%;   
        font-size: 80%;
        height: 26px;
    }
    .content > .p-intro {
        height: 100%;
    }
}
@media screen and (max-width: 450px) {
    .content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 7% 14% 5% 10% 10%;
        font-size: 65%;
    }
    header {
        font-size: 110%;
    }
    .buttons {
        font-size: 55%;
        width: 20%;
        height: 23px;
    }
    .text {
        width: 65%;   
        font-size: 70%;
        height: 22px;  
    }
    
}
