* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

* {
    background-color: black;
    color: white;
}

header {
    height: 20%;
    border: 1px solid white;
}

main {
    height: 50%;
}

main > * {
    border: 1px solid white;
}

main {
    height: 60%;
}

nav {
    float: left;
    width: 25%;
    height: 100%;
}

section {
    width: 50%;
    height: 100%;
    float: left;
}

aside {
    float: left;
    width: 25%;
    height: 100%;
}

footer {
    border: 1px solid white;
    height: 20%;
}
