  @import url('https://fonts.googleapis.com/css?family=Poiret+One');
  body {
    font-family: 'Poiret One', cursive;
    color: white;
  }

  img {
    padding: 5px;
    border: 1px solid #ccc;
  }

  .summary {
    background: #EB9F55;
    height: 80px;
  }

  .header {
    background: #EB8C74;
  }