h1 {color:greenyellow}

main{
    display:inline-block;
    background-color: gree
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    background-color: burlywood
}

main {
    background-color: orangered;
    display:inline-block ;
}

aside {
    background-color: mediumaquamarine;
    max-width: 90%;
    width:30%;
    height:100%;
    float: left;
}

section {
    position: relative;
    
    background-color: violet;
    width:70%;
    height:100%;
    float: right;
}

footer {
    background-color: burlywood
}