<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LANDING</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <nav>
            <img src="" alt="logo">
            <ul>
                <li>
                    <a href="">Register</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Home (landing)</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>THIS IS THE LANDING PAGE</h1>
        <section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci quis, inventore unde ullam, ipsam quae nesciunt alias laboriosam maiores, fugit asperiores qui. Nobis id odit distinctio fugiat non aliquam illo!</section>
        <section>
            <button>register</button>
            <button>login</button>
        </section>
    </main>
</body>

</html>