<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILE</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <nav>
            <img src="" alt="logo">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Profile</h1>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque beatae est laborum odio distinctio eius iste,
                iusto sapiente quam eligendi veritatis nihil saepe dolorum aliquid, minima nulla, cum suscipit.
            </p>
        </section>
        <section>

            <form action="">
                <input type="text" placeholder="user"><button>edit</button>
                <input type="text" placeholder="mail"><button>edit</button>
                <input type="text" placeholder="name"><button>edit</button>
                <input type="text" placeholder="lastname"><button>edit</button>
                <input type="text" placeholder="direction"><button>edit</button>
                <input type="text" placeholder="age"><button>edit</button>
                <input type="text" placeholder="gender"><button>edit</button>
            </form>
        </section>
    </main>
</body>

</html>