<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <nav>
            <img src="" alt="logo">
            <ul>
                <li>
                    <a href="">Register</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Home (landing)</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>REGISTER</h1>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque beatae est laborum odio distinctio eius iste,
                iusto sapiente quam eligendi veritatis nihil saepe dolorum aliquid, minima nulla, cum suscipit.
            </p>
        </section>
        <section>

            <form action="">
                <input type="text" placeholder="user">
                <input type="password" placeholder="password">
                <input type="password" placeholder="password">
                <input type="text" placeholder="mail">
                
                <input type="text" placeholder="name">
                <input type="text" placeholder="lastname">
                <input type="text" placeholder="direction">
                <input type="text" placeholder="age">
                <input type="text" placeholder="gender">
                <button type="submit">Create account</button>
            </form>
        </section>
    </main>
</body>

</html>