*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    background-color: black;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

body{
    height: 100%;
}

header{
    height: 20%;
    width: 100%;
    margin: 0%;
    border: 1px solid white;
    
}

main{
    height: 60%;
    width: 100%;
    margin: 0%;
    border: 1px solid white;
}

main> *{
    border: 1px solid white;
}

nav{
    height: 100%;
    width: 20%;
    float: left;
}

section{
    height: 100%;
    width: 60%;
    float: left;
}

aside{
    height: 100%;
    width: 20%;
    float: right;
}

footer{
    height: 20%;
    width: 100%;
    clear: both;
    border: 1px solid white;
}