.general {
    text-align: center;
  }
.text1{
  margin-top:20vw;
}
.formulariol{
  margin-bottom: 7vw;
  border: 1px solid #92ac19;
  font-size: 5vw;
  border-radius: 1vw;
}
p{
  font-size:6vw;
}
  a{
    text-decoration: none;
    color:#92ac19;
    font-size:6vw;
  }
