.general {
    text-align: center;
  }
.text1{
  margin-top:30vw;
}
.formulariol{
  margin-bottom: 7vw;
  border: 1px solid #92ac19;
  font-size: 5vw;
  border-radius: 1vw;
}
p{
  font-size:6vw;
}
  a{
    text-decoration: none;
    color:#92ac19;
    font-size:6vw;
  }
.login-buttonL{
  
  width:80vw;
  color:white;
  font-size: 5vw;
  margin: 5vw 7vw 11vw;
  padding: 2vw;
  background-color: #92ac19;
  border:0;
  font-family: 'Montserrat', sans-serif;
}