@import "main-desktop-css.css" screen and (min-width:769px);
@import "main-mobile.css" screen and (max-width:768px);
html, body {
    min-height: 100% !important;
    width: 100%;
    height: 100%;
}

header {
    height: 20%;
    background-color: black;
}

main {
    height: 60%;
    background-color: black;
}

footer {
    height: 20%;
    background-color: black;
}