@import "common.css";

.main {
    padding: 16px;
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
}

.firstSection, .secondSection {
    width: 40%;
    margin: 4%;
}

.bigP {
    font-size: 80px;
}

.normalP, h3 {
    padding-top: 4%;
}

button {
    padding: 3%;
    width: 100%;
    height: auto;
    margin: 6% 0%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #2dbe60;
    color: white;
}

.button:hover {
    background-color: #248d49;
}

h2 {
    font-size: 35px;
    padding: 10% 0% 10%;
}

.free {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.free:hover {
    color: #2dbe60;
    border-color: #2dbe60;
}