/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

_.App-header {
  background-color: rgb(171, 178, 243);
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

h1 , h2{
  color: white
}

.form-group {
 margin-bottom: 0
}

body {
  background-image: url("manhattan.jpg")
}

.bg-darkcyan {
  background: darkcyan;
  color: white
}
input{
  background: white;
  border-radius: 5px;
  padding: 4px;
}

.bar-item {
  display: inline-block;
  margin: 5px;
  
}

header ul {
height: 40px;
margin-right: 20px

}

header li {
  float: right;
  
}

header li::before {
  content: "| ";
  padding: 8px;
  color: white;
}


header li:last-child::before {
  content: " ";
  padding: 8px;
  color: white;
}

header a {
  color: white;
  text-decoration: none
}

header a:hover {
  color: rgb(221, 219, 219);
  text-decoration: none
  
}